<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h2 class="pageName my-4 border-bottom">
        POST WRITING ◇ 게시글 등록 및 수정
    </h2>
    <form th:object="${postForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label th:for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label th:for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" th:for="isPublished">공개</label>
            <input type="checkbox" th:field="*{isPublished}" th:checked="${postForm.isPublished}" class="form-check-input" id="isPublished" name="isPublished">
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" th:for="paid">멤버십 포스트</label>
            <input type="checkbox" th:field="*{paid}" th:checked="${postForm.paid}" class="form-check-input" id="paid" name="paid">
        </div>
        <input type="submit" value="저장" class="btn btn-dark my-2">
    </form>
</div>
</html>